.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(66, 66, 66, 0.5), rgba(255, 255, 255, 0.5)),
    url("https://i.ibb.co/dGJ8wzc/pexels-photo-768473.webp");
  background-size: cover;
}
.registerTittle {
  font-size: 50px;
}
.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.registerForm > label {
  margin: 10px 0;
}
.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  text-align: center;
}
.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  color: white;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
