.settings {
  display: flex;
}
.settingsWrapper {
  flex: 9;
  padding: 20px;
}
.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}
.settingsDeleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
}
.settingsForm {
  display: flex;
  flex-direction: column;
}
.settingPf {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.settingsil {
  margin-bottom: 20px;
}
.settingsImg {
  width: 70ppx;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  right: 430px;
  margin: 20px 0;
}
.settingsPPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  position: absolute;
  right: 400px;
}
.settingsForm > label {
  text-align: right;
  font-size: 20px;
  margin-top: 20px;
}
.settingsForm > input {
  color: grey;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
  text-align: right;
}
.settingsSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
